@font-face {
  font-family: "Poppins";
  src: url(./Poppins-Regular.ttf) format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.cardSlider {
  display: flex;
}